<div class="main_div">
  <div class="title">
    <div class="cover_div"><h2>Customer List</h2></div>
    <div class="add_btn" ><div routerLink="register" class="inner_add_btn">+</div></div>
  </div>
  <table class="table">
    <thead>
        <th hidden>id</th>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Mobile Number</th>
        <th>Address</th>
        <th>Gender</th>
        <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers;">
        <td hidden>{{customer.id}}</td>
        <td>{{customer.firstName}} {{customer.lastName}}</td>
        <td>{{customer.dateOfBirth}}</td>
        <td>{{customer.mobileNumber}}</td>
        <td>{{customer.addressOne}} {{customer.addressTwo}}</td>
        <td>{{customer.gender}}</td>
        <td><button (click)="updateCustomer(customer.id)" class="edit btn"><i class="fa-solid fa-user-pen"></i></button>
          <button class="delete btn" (click)="deleteCustomer(customer.id)"><i class="fa-sharp fa-solid fa-trash"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
