<div class="main_div">
  <div class="title">
    <div class="cover_div">
      <h2>Customer List</h2>
      <nz-switch [ngModel]="true" [nzCheckedChildren]="checkedTemplate" [nzUnCheckedChildren]="unCheckedTemplate">
      </nz-switch>
      <ng-template #checkedTemplate><span nz-icon nzType="check"></span></ng-template>
      <ng-template #unCheckedTemplate><span nz-icon nzType="close"></span></ng-template>
    </div>
    <div class="add_btn">
      <div routerLink="register" class="inner_add_btn">+</div>
    </div>
  </div>
  <table class="table">
    <thead>
      <th>id</th>
      <th>Name</th>
      <th>Date of Birth</th>
      <th>Mobile Number</th>
      <th>Address</th>
      <th>Gender</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers;">
        <td>{{customer.id}}</td>
        <td>{{customer.firstName}} {{customer.lastName}}</td>
        <td>{{customer.dateOfBirth | date: 'dd - MM - yyyy'}}</td>
        <td>{{customer.mobileNumber}}</td>
        <td>{{customer.addressOne}} {{customer.addressTwo}}</td>
        <td>{{customer.gender}}</td>
        <td><button (click)="updateCustomer(customer.id)" class="edit btn"><i class="fa-solid fa-user-pen"></i></button>
          <button class="delete btn" (click)="delete_popup(customer.id)"><i
              class="fa-sharp fa-solid fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="pop_up" #popup_mssg>
  <div class="warning_div">
    <div class="warning_title">Are you sure ?</div>
    <div class="warning_btn">
      <div class="btn_no" (click)="backToCustmer($event)">no</div>
      <div class="btn_yes" (click)="delete_custmore($event)">Yes</div>
    </div>
  </div>
</div>



<router-outlet></router-outlet>
