<form (ngSubmit)="onSubmit_func($event)" [formGroup]="form" autocomplete="off">
  <div class="customer_registration_container">
    <div class="heading">
      <span *ngIf="id"> Edit Customer</span>
      <span *ngIf="!id"> Create Customer</span>
    </div>
    <div class="inner_box">

      <!-- First Name -->
      <div class="input_field">
        <label for="firstname">*First Name :</label>
        <input type="text" id="firstname" formControlName="firstName" [(ngModel)]="customer.firstName"
          (keypress)="first_func($event)">
      </div>
      <div *ngIf="firstName!.errors?.['required'] && (firstName!.touched || firstName!.dirty)" class="danger"> First
        name is necessary </div>
      <div *ngIf="firstName!.errors?.['minlength'] && (firstName!.touched || firstName!.dirty)" class="danger"> First
        name is too short</div>
      <div *ngIf="firstName!.errors?.['pattern'] && (firstName!.touched || firstName!.dirty)" class="danger"> First
        name is not valid</div>

      <!-- Last Name -->
      <div class="input_field">
        <label for="lastname">*Last Name :</label>
        <input type="text" id="lastname" formControlName="lastName" [(ngModel)]="customer.lastName"
          (keypress)="last_func($event)">
      </div>
      <div *ngIf="lastName!.errors?.['required'] && (lastName!.touched || lastName!.dirty)" class="danger"> Last name is
        necessary </div>
      <div *ngIf="lastName!.errors?.['minlength'] && (lastName!.touched || lastName!.dirty)" class="danger"> Last name
        is too short</div>
      <div *ngIf="lastName!.errors?.['pattern'] && (lastName!.touched || lastName!.dirty)" class="danger"> Last name
        is Not Valid</div>

      <!-- Date Of Birth -->
      <div class="input_field">
        <label for="dateofbirth">*Date Of Birth :</label>
        <input type="date" id="dateofbirth" formControlName="dateOfBirth" [(ngModel)]="customer.dateOfBirth"
          min="{{minDate}}" max="{{maxDate}}">
      </div>
      <span *ngIf="dateOfBirth && dateOfBirth.errors?.['required'] && (dateOfBirth.touched || dateOfBirth.dirty)"
        class="danger">Date is necessary </span>
      <span class="danger" *ngIf="dateOfBirth && dateOfBirth.errors?.['future'] && dateOfBirth.dirty">Future date is not
        allowed</span>
      <span class="danger" *ngIf="dateOfBirth && dateOfBirth.errors?.['past'] && dateOfBirth.dirty">Below 1950 date is
        not allowed</span>

      <!-- Mobile -->
      <div class="input_field">
        <label for="mobile">*Mobile :</label>
        <input type="text" id="mobile" formControlName="mobileNumber" [(ngModel)]="customer.mobileNumber"
          (keypress)="mobile_func($event)" (copy)="$event.preventDefault()" (paste)="$event.preventDefault()">
      </div>
      <span *ngIf="mobileNumber && mobileNumber.errors?.['required'] && (mobileNumber.touched || mobileNumber.dirty)"
        class="danger">This field is necessary</span>
      <span *ngIf="mobileNumber && mobileNumber.errors?.['minlength'] && (mobileNumber.touched || mobileNumber.dirty)"
        class="danger">Number must be minimum 10</span>
      <span *ngIf="mobileNumber && mobileNumber.errors?.['incorrect']" class="danger">This number is already
        exist</span>

      <!-- Address - 1 -->
      <div class="input_field">
        <label for="address-1">Address 1 :</label>
        <textarea class="textarea" id="address-1" formControlName="addressOne"
          [(ngModel)]="customer.addressOne"></textarea>
      </div>

      <!-- Address - 2  -->
      <div class="input_field">
        <label for="address-2">Address 2 :</label>
        <textarea id="address-2" formControlName="addressTwo" [(ngModel)]="customer.addressTwo"
          class="textarea"></textarea>
      </div>

      <!-- Age  -->
      <div class="input_field">
        <label for="age">*Age :</label>
        <input type="text" id="age" formControlName="age" [(ngModel)]="customer.age" (keypress)="age_func($event)"
          (copy)="$event.preventDefault()" (paste)="$event.preventDefault()">
      </div>
      <span *ngIf="age && age.errors?.['required'] && (age.touched || age.dirty)" class="danger">
        This field is necessary
      </span>
      <span *ngIf="age  && (age.errors?.['min'] || age.errors?.['max'] )" class="danger">Age must be in to 18 to
        100</span>

      <!-- Gender -->
      <div class="input_field radio">
        <div><label for="gender">*Gender :</label></div>
        <div class="sub_gender">
          <input type="radio" id="male" formControlName="gender" [(ngModel)]="customer.gender" value="male" checked
            name="gender">
          <label for="male">Male </label>
          <input type="radio" id="female" formControlName="gender" [(ngModel)]="customer.gender" value="female"
            name="gender">
          <label for="female">Female</label>
        </div>
      </div>

      <!-- Email -->
      <div class="input_field">
        <label for="email">*Email :</label>
        <input type="text" id="emial" formControlName="email" [(ngModel)]="customer.email">
      </div>
      <span *ngIf="email && email.errors?.['required'] && (email.touched || email.dirty)" class="danger">Email is
        required</span>
      <span *ngIf="email && email.errors?.['pattern'] && (email.touched || email.dirty)" class="danger">Email is not
        valid</span>
      <span *ngIf="email && email.errors?.['incorrect']" class="danger">This emial is already exist</span>

      <!-- Button -->
      <div class="btn_class">
        <div class="cancel_div"><button routerLink="" class="cancel">Cancel</button></div>
        <div class="save_div"><button class="submit" #submit>
            <span *ngIf="id" class="save_btn_form">Save</span>
            <span *ngIf="!id" class="submit_btn_form">Submit</span>
          </button></div>
      </div>
      <span class="danger" style="margin: 2% 0 0 24%;" *ngIf="form && form.errors?.['incoorect']">Please fill all data
        with valid information.</span>
    </div>
  </div>
</form>
<router-outlet></router-outlet>
