.customer_registration_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.658);
}
.inner_box{
  padding: 3%;
  border: 1px solid goldenrod;
  display: flex;
  flex-direction: column;
  color: wheat;
  font-size: 1.3vw;
}
.input_field{
  padding: 2%;
  display: inline-flex;
  width: 20em;
}
.input_field input{
  padding: 0.5%;
  background: gainsboro;
  font-size: 1.2vw;
  outline: none;
}
.input_field input[type="radio"]{
  width: 20px;
}
.input_field input[type="date"]{
  width: 100%;
}
.input_field input[type="number"]{
  width: 100%;
}
.radio{
  justify-content: space-between;
}
.input_field label{
  width: 100%;
}
.btn_class{
  display: flex;
  flex-direction: column;
  margin: 5% 0 0 0 ;
}
.cancel{
  text-decoration: none;
  width: 100%;
  background-color: darkred;
  color: aliceblue;
  text-align: center;
  font-size: 1.5vw;
  padding: 2%;
  margin: 0 0 2% 0;
}
.cancel:hover{
  background: lightcoral;
  color: darkblue;
  padding: 1.8%;
}
.submit{
  width: 100%;
  background: darkgreen;
  color: aliceblue;
  text-align: center;
  font-size: 1.5vw;
  padding: 2%;
}
.submit:hover{
  background-color: lightgreen;
  color: darkblue;
  padding: 1.8%;
}
.danger{
  color: rgb(255, 104, 104);
  display: block;
  margin-left: 50%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
}
